<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Learn Basics of Vue</title>
    <link rel="stylesheet" href="theme.css">
  </head>
  <body>
    <div class="container" id="app">
      <div class="card center">
      <h1>{{ title }}</h1>
      <div class="steps">
        <div class="steps-content">
          {{ menu[activeIdx].text }}
        </div>
        <ul class="steps-list">
          <li class="steps-item" v-for="(item, i) in menu"> <span :class="item.active ? 'activeThis' : 'activeThat'" @click="setActive(i)">{{ i + 1}}</span> {{item.name}}</li>
        </ul>
        <div v-if="activeIdx !== menu.length - 1">
          <button class="btn" :disabled="isActive" @click="prev">Prev</button>
          <button class="btn" @click="nextOrFinish">Next</button>
        </div>
        <div v-else>
          <button class="btn" @click="reset">Start Again</button>
        </div>
      </div>
    </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>

  </body>
</html>
